@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body.light {
  background-color: white;
  transition: 0.3s;
}

body.dark {
  background-color: #181A2A;
  color: white;
  transition: 0.3s;
}

.Container {
  max-width: 1280px;
  margin: 0 auto;
}

.toggle-btn {
  width: 60px;
  height: 30px;
  background: #E8E8EA;
  border-radius: 50px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1px;
  transition: 0.3s;
}

.toggle-btn.dark {
  background: #4B6BFB;
}

.toggle-circle {
  height: full;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  transition: 0.3s;
}

.toggle-circle.dark {
  left: 30px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}